/* Infotext small */
.infotext {
    font-size: 11px;
}

/* TABS */
div.tab {
    overflow: hidden;
    border: 1px solid #9999FF; /*#CCCCCC;*/
    background-color: #F1F1F1;
}

div.tab button {
    background-color: inherit;
    float: left;
	border: none;
	font-family: avenir, helvetica, arial, sans-serif;
    letter-spacing: 0.15em;
    padding: 1em 0.75em;
    text-decoration: none;
    text-transform: uppercase;	
    outline: none;
    cursor: pointer;
	-webkit-transition:	0.4s;
    transition: 0.4s;
}

div.tab button:hover {
	color: #FFFFFF;
    background-color: #0063AA; /*#DDDDDD;*/
}

div.tab button.active {
	color: #FFFFFF;
    background-color: #0063AA; /*#CCCCCC*/
}

.tabcontentborder {
    border: 1px solid #9999FF;
    border-top: none;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Buttons */
.btn, .btn:link, .btn:visited {
	background-color: #F1F1F1;
    border: 1px solid;
	border-radius: 0.3em;
    color: #111111;
    display: inline-block;
    font-family: avenir, helvetica, arial, sans-serif;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    padding: 1em 0.75em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
}

.btn:hover, .btn:focus {
	color: #7FDBFF;
	border: 1px solid #7FDBFF;
	-webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
	transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn:active {
	color: #0074D9;
	border: 1px solid #0074D9;
	-webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
	transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn--s {
    font-size: 12px;
}

.btn--m {
    font-size: 14px;
}

.btn--l {
    font-size: 20px;
    border-radius: 0.25em !important;
}

.btn--full, .btn--full:link {
    border-radius: 0.25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.btn--blue, .btn--blue:link, .btn--blue:visited {
    color: #FFFFFF;
    background-color: #0074D9;
}

.btn--blue:hover, .btn--blue:focus {
    color: #FFFFFF !important;
    background-color: #0063AA;
    border-color: #0063AA;
}

.btn--blue:active {
    color: #FFFFFF;
    background-color: #001F3F;
    border-color: #001F3F;
}

.btn--blue:disabled {
    color: #FFFFFF !important;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}

table {
    margin: 5px;
}

th {
    background-color: #CCCCCC;
}

body {
    color: #000000;
    font-family: avenir, helvetica, arial, sans-serif;
    letter-spacing: 0.15em;
}

hr {
    background-color: #9999FF;
    border: none;
    color: #EEEEEE;
    height: 1px;
}

@media screen and (min-width: 32em) {
    .btn--full {
        max-width: 16em !important;
    }
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
